body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #f7f2f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ebd4c6;
    display: flex;
    height: 20%;
    width: 100%;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.menu {
    display: flex;
    align-items:center;
    width: 60%;    
}

.opciones {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.opciones li {
    margin-left: 10px;
    position: relative;
}

.opciones li a {
    color: white;
    text-decoration: none;
    padding: 12px;   
}
.uno {
    border-right: 1px solid white;
}


.opciones li a:hover {
    background: #d6ad93;
}

.desplegable .contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #eeddd3;    
    min-width: 200px;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.desplegable:hover .contenido-desplegable {
    display: flex;
}

.contenido-desplegable li {
    border: none;
    list-style-type: none;    
    padding-bottom: 5px;
}

.contenido-desplegable li a {
    border-right: none;    
    font-size: 15px;
    padding: 0;
    border: 5px;
}

.contenido-desplegable li a:hover {
    background: #d6ad93;
}
main {
    background-color: #e9e3e0;
    height:100vh;
}

.formulario {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color:rgb(253, 247, 247);
    margin: 0 auto;
    float: initial;
    position: absolute;
    left: calc(50% - 155px);
    top: calc(35%);
}
.formulario p {
    font-size: 25px;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    color: black;
}

button {
    margin: 10px;
    padding: 5px;
    background-color: #eed8ca;
}

button a {
    text-decoration: none;
    list-style: none;
    color: black;
}

button:hover {
    background-color: #d6ad93;
}

.logo-f img {
    max-width: 70%;
}

.redes {
    min-width: 153px;
}

.logo-f {
    padding: 15px 60px 0px 0px;
}

.iconos p {
    justify-content: center;   
    text-align: center;
}

.footer1 {
    background-color: #7a3b12;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer2 {
    background-color: #4e220f;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
}


/*pantalla pequeña*/
@media (max-width: 420px) {
    header{
        flex-direction: column;
        font-size: 10px;
        height: 20%;
    }

    .opciones li a {
        font-size: 10px;
    }

    .formulario p {
        min-width: 250px;
    }

}

/* Pantallas medianas*/

@media (max-width: 600px) {
    header{
        flex-direction: column;
        font-size: 12px;
        height: 20%;
    }
    
    .menu{
       justify-content: center;
       padding-left: 23%;
    }

    header .opciones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    main {
        height: 100vh;
    }

    .opciones {
        flex-direction: column;
    }

    .opciones li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .opciones li a {
        border-right: none;
    }

    .formulario {
        padding: 20px 10px;
        right: 40px;
    }

    .formulario p {
        min-width: 250px;
    }

    .footer1, .footer2 {
        flex-direction: column;
        text-align: center;
    }

    .redes img {
        max-width: 15%;
    }
}

/* Pantallas grandes*/
@media (min-width: 601px) {
    header, footer {
        height: 15vh;
    }

    .opciones li {
        margin-left: 10px;
    }
    .formulario {
        padding: 30px 10px;
        max-width: 360px;
    }
    .contenido-desplegable li a {
        border-right: none;
        font-size: 15px;
    }

    .footer1, .footer2 {
        flex-direction: row;
    }

    .redes img {
        max-width: 30%;
    }
}